<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>"AIzaSyBP5JMquRJ9_TAoutj4fNGsBsZbql5hdvI"</string>
	<key>GCM_SENDER_ID</key>
	<string>374677517992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.resturantapp</string>
	<key>PROJECT_ID</key>
	<string>resturants-13bbe</string>
	<key>STORAGE_BUCKET</key>
	<string>resturants-13bbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374677517992:ios:9e7adcf9e661526137b49d</string>
</dict>
</plist>